<nav class="top-bar" data-topbar role="navigation">
  <div class="nav-wrapper">
    <!--<a href="#" class="left brand-logo">Trickle</a>-->
    <ul class="left">

      <!--<li class="divider"></li>-->
      <li ><%= link_to 'Feeds', feeds_path %></li>
      <li ><%= link_to 'Entries', entries_path %></li>
    </ul>

  </div>
</nav>
